@import url('https://fonts.googleapis.com/css?family=Monoton|Muli');

body {
    font-family: 'Muli', sans-serif;
}

nav,
.page-footer {
    background-color: #000;
    /* color: #fff; */
    color:#7a2f96;
}

.section {
    background-color: rgb(235, 235, 235);
}

ul li a {
    color: #46b1f8;
}

a {
    color: #46b1f8;
}

.parallax-container {
    height: 600px;
  }

/* shiny text and banner styling */
#banner {
    background-color: #000;
    /* height: 500px; */
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shinyText {
    position: relative;
    text-transform: uppercase;
    font-family: 'Monoton', cursive;
    font-size: 14em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #7a2f96, #46b1f8, #7a2f96, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0);
}
@keyframes animate
{
    0%
    {
        background-position: -500%
    }
    100%
    {
        background-position: 500%
    }
}

/* gallery section */
.swiper-container {
    width: 80%;
    height: 400px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}
/* concert section */
.concertBody {
    margin-top: 0;
}

.concertHeader {
    margin-bottom: 1px;
}

/* trivia section */
.btn,
.btn-small {
    background-color: #7a2f96;
}

.btn-small {
    margin-right: 3%;
    margin-bottom: 3%;
}

.btn:hover,
.btn-small:hover {
    background-color: #b153d3; 
}

.gif {
    width: 100%;
    height: auto;
}

#reset {
    margin-top: 5%;
}

#questionDisplay {
    margin-bottom: 5%;
}

/* movie form */
.dropdown-content li>span {
    color: #7a2f96;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #46b1f8;
}

@media only screen and (max-width: 1024px) {
    #banner {
        height: 50vh;
    } 
}

@media only screen and (max-width: 823px) {
    #shinyText {
        font-size: 9em;
    }
}

@media only screen and (max-width: 640px) {
    #shinyText {
        font-size: 7em;
    }
    .swiper-container {
        width: 100%;
        height: 300px;
    } 
}